.contenedor-principal {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 50vh;
    background-color: white;
  }

.contenedor-user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    margin-top: 10%;
}
.contenedor-password {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    margin-top: 10%;
  }