.boton-anaranjado {
  background-color: #ff8303;

  stroke-width: 1px;
  stroke: #000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  font-size: 1.7rem;
  font-style: lighter;
  padding: 10px;
}
.boton-anaranjado2 {
  background-color: #ff8303;

  stroke-width: 1px;
  stroke: #000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
  font-size: 1.7rem;
  font-style: lighter;
  padding: 10px;
  width: 300px;
  text-align: left;
  margin-right: 100px;
  margin-bottom: 20px;
  margin-top: 100px;
}

.boton-imagen {
  /* Estilos generales para el botón, como colores, tamaño de fuente, etc. */

  padding: 200px 200px;
  cursor: pointer;
  border-radius: 4px;
}

.contenedor-botones img {
  /* Ajusta el tamaño de la imagen según tus necesidades */
  width: 566px;
  height: 566px;
  margin-right: 0px; /* Espacio entre la imagen y el texto del botón */
  /* Otros estilos de la imagen, como margen, padding, etc. */
}
