.footer {
  background-color: #d9d9d9; /* Color de fondo del footer */
  padding: 10px; /* Espaciado interior del footer */
  text-align: center; /* Alineación del texto al centro */
  width: 100%; /* Ancho del footer */
  bottom: 0%;
  position: fixed;
  left: 0;
}
footer p {
  text-decoration: none;
  text-align: right;
  color: black;
}
footer p:hover {
  color: #ff6600;
}
