.contenedor-principal {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 50vh;
  background-color: white;
  align-items: center;
}
input {
  margin-bottom: 10%;
  border: 1px solid #000;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  font-size: 22px;
  padding-left: 15px;
}

.h1 {
  font-size: 2.5rem;
  font-weight: 500;
  font-style: bold;
  margin-bottom: 50%;
  background-color: #ff8303;
}
.contenedor-user {
  display: flex;
  align-items: center;
  margin-bottom: 10%;
  margin-top: 10%;
}
.titulo-sign-up {
  align-items: center;
}
.contenedor-password {
  display: flex;
  align-items: center;
  margin-bottom: 10%;
  margin-top: 10%;
}
.contenedor-email {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0%;
  margin-top: 0%;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

p {
  font-size: 1.5rem;
  font-style: bold;
  text-align: center;
  margin-top: 40px;
}

p a {
  color: black;
  text-decoration: none;
}
p a:hover {
  color: #ff8303;
  text-decoration: none;
}
input:focus {
  outline: none;
}
input:focus::placeholder {
  font-size: 0px;
  display: none;
}
input::placeholder {
  font-size: 30px;
}
.contenedor-login{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

}
form{
max-width: 5vw;
}
#botonNaranja{
  display: flex;
  flex-direction: row;
  align-items: baseline;

}