.landing-page {
  justify-content: center;
  align-items: center;
  background-image: url("../../Img/Background.jpg");
  width: 100%;
  height: 100vh;
  display: flex;
}

html,
body {
  width: 100%;
  height: 100%;
}
